
.cart {
    margin-top: 90px;
}

.mycart-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}

.mycart-header-item {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.cart-unite {
    width: 100px;
}

.cart-quantity, .cart-shipping, .cart-total {
    width: 90px;    
    text-transform: uppercase;
}

.cart-action {
    width: 70px;
}

.mycart-product {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    padding-top: 20px;
}

.redme {
    border: 1px solid red;
}

.mycart-product-item {
    color: #656565;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.cart-details {
    width: 450px;    
    justify-content: space-between;
    &-link {
        display: block;
        width: 320px;
        height: 115px;
    }
}

.cart-action-link {
    color: #c0c0c0;
    font-size: 16px;
    &:hover {
        color: #656565;
    }
}

.cart-quantity-field {
    width: 55px;
    height: 30px;
    border: 1px solid #eaeaea;
    appearance: textfield;
    color: #656565;
    text-align: center;
    outline: none;
}

.cart-details-block {
    display: flex;
    width: 100%;
}

.cart-details-desc {
    padding: 13px 21px;
}

.det-prod-name {
    color: #222222;
    text-transform: uppercase;
    font-size: 13px;    
}

.det-prod-color, .det-prod-size {
    font-size: 13px;
    font-weight: 300;
    color: #6f6e6e;
}

.det-prod-color {
    margin-top: 20px;
}

.mycart-buttons {
    display: flex;
    justify-content: space-between;
}

.white-button-cart {
    display: block;
    margin-top: 40px;
}

.mycart-finish {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.mycart-finish-item {
    margin-right: 35px;
    width: 100%;
    &:last-of-type {
        margin-right: 0;
    }
}

.finish-item-header {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.total-header {
    text-align: right;
    margin-top: 8px;
}

.total-price {
    color: $pink;
    margin-left: 10px;
}

.finish-item-wrapper {
    background-color: #f5f3f3;
    height: 215px;
    padding: 43px;
}

.finish-item-text {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

.finish-item-summ {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}

.finish-form, .finish-state, .finish-zip {
    width: 100%;
    height: 45px;
    border: 1px solid #eaeaea;
    margin-top: 35px;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding-left: 20px;
}

.finish-form {
    appearance: none;    
    background-image: url("../images/caret-down.svg"); 
    background-repeat:  no-repeat;
    background-position:  top 19px right 10px;
    background-size: 10px;    
}

.white-button-small {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    padding: 12px 14px;
    margin-top: 35px;
}

.finish-coupon {
    color: #000000;
    margin-top: 35px;
}

