

/* colors */
$pink: #f16d7f;
$redpink: #ef5b70;
$darkpink: #d34f60;
$white: #ffffff;
$light: #eaeaea;
$white-grey: #ececec;
$light-grey: #b9b9b9;
$grey: #5e5e5e;
$dark-grey: #2f2f2f;
$dark: #222222;